* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
        border: 0;

}

body {
     background-color: #ffeb3b;
    color: black;
   
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: yellow;
    }
}

header {
    margin: 1%;
    margin-right: 3%;
}

header h1{
    display: inline-block;

    width: 10%;
    text-align: center;
}

nav {
    float: right;
    line-height: 15vh

}


nav ul li{
    
    display: inline-block;
    margin-left: 50px;
 

}

section:nth-child(2){
    background-color: #ffeb3b;
     text-align: center;
    
}

body section img {
    margin-top: 2%;
    width: 50%;
    height: 50%
}

#texto-representacion {
    color: black;
    text-align: start;
    width: 50%;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
}



body section:nth-of-type(2) {
    display: inline-block;
    width: 100%;
    height: 50vh;
    text-align: center;
    

    
 

}

body section:nth-of-type(2) article {
    height: 50%;
    height: 50%;
    margin-top: 5vh;
    
 
    
}

body > section:nth-of-type(2) > article:nth-of-type(2) {

    display: inline-block;
    line-height: 21.5vh;
    vertical-align: top;


}



body section:nth-of-type(2) article:nth-of-type(1){
    
    display: inline-block;
    text-align: start;
    border-right: 2px solid rgb(0, 0, 0);
    padding: 0px 10px 0px 10px;
    margin-right: 20%;
  
  
}


body section:nth-of-type(2) article:nth-of-type(1) {
border-right: 2px solid rgb(238, 255, 0);  
padding: 0px 50px 0px 10px;
  
}


body section:nth-of-type(2) article:nth-of-type(2) button{
    
    padding: 20px 10px 20px 10px;
  
  
  
}

