* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    border: 0;

}

body {
     background-color: #ffeb3b;
    color: black;
   
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: yellow;
    }
}



header {
    width: 100%;
    display: inline-block;
    padding: 20px;
}

header h1 {
    display:  inline-block;
    width: 100px;
    text-align: center;
 
}

header nav {
    float: right;
    padding: 25px 0px;
}

header nav ul li {
    display: inline-block;
    margin: 0 10px;
}

section:nth-of-type(1) {
    text-align: center;
    height: auto;


}

section:nth-of-type(1) img {
    width: 50%;
    margin-top: 50px;
    margin-bottom: 20px;
}

section:nth-of-type(1) div {
    text-align: start;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5vh;
}

section:nth-of-type(2) {
    height: auto;
    text-align: center;
    
    
}

section:nth-of-type(2) article {

   
    width: 25%;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1%;
    overflow: hidden;
        text-align: end;
    



}


section:nth-of-type(2) article:first-of-type{

   border-right: 2px solid yellow;




    
}

section:nth-of-type(2) article:first-of-type h2, h3{

    display: block;
    text-align: left;
    

    

    
}

section:nth-of-type(2) article:last-of-type button {

    display: inline-block;
    height: 7.6vh;
    border-radius: 10px;
    width: 50%;
    font-size: larger;
    padding: 2% 4% 2% 2%;
    
    
    
}

section:nth-of-type(3) {
    margin-top: 5%;
    padding: 2%;
} 

footer {
 
    text-align: center;

}

i {
    font-size: larger;
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 1%;
    margin-bottom: 5%;
}

@media (width <= 600px) { 

   header {
        width: 25%; 
        float: left;
        float: left;
        padding: 0;
        margin: 20px 20px;
}
    header nav {

 
    float: right;
    overflow: hidden;
    width: auto;
    padding: 0px;
    height: auto;

    

}

header ul {
    text-align: start;
    padding: 0;
    text-align: center;
    width: auto;
    margin-top: 20px;


    
    
}

header nav ul li {

  margin: 17% 0%;
  width: 100%;

  
  
}

header h1 {

    display: inline-block;
    width: auto;
   
}

section:nth-of-type(1) {
    text-align: center;
    margin-bottom: 10%;
    height: fit-content;
    width: 65%;
    display: inline-block;
    

}

section:nth-of-type(1) img {
    width: 85%;
      margin: 5% 0%;

}

section:nth-of-type(1) div {
    text-align: start;
    width: 84%;
    margin: 0 auto;
    height: 49%;
}


section:nth-of-type(2) {
    margin-top: 0%;
    height: auto;   


}

section:nth-of-type(2) article:first-of-type{

  border: 0px;
 
   



    
}

section:nth-of-type(2) article:first-of-type h2, h3{
text-align: center;
    display: block;
    

    

    

    
}

section:nth-of-type(2) article:last-of-type button {

    display: block;
    height: 7.6vh;
    border-radius: 10px;
    font-size: larger;
    padding: 2% 4% 2% 2%;
    margin: 0 auto;
    width: 100%;
    margin-top: 10%;
    
    
    
}






section:nth-of-type(2) article {

    width: 50%;
    margin-top: 1%;
    overflow: hidden;
    text-align: start;
    height: 50%;
    



}

section:nth-of-type(3) {

    margin-top: 5%;
    padding: 10%;


}

footer {
    margin-top: 5%;
   padding: 20px;
   text-align: center;
   
   
}

i {
    font-size: larger;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
}




}