* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
        border: 0;

}

body {
     background-color: #ffeb3b;
    color: black;
   
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: yellow;
    }
}

header {
    margin: 1%;
    margin-right: 3%;
}

header h1{
    display: inline-block;

    width: 10%;
    text-align: center;
}

nav {
    float: right;
    line-height: 8vh
}

nav ul li{
    
    display: inline-block;
    margin-left: 50px;

}

section:nth-child(2){
    background-color: #ffeb3b;
     text-align: center;
    
}

body section img {
    margin-top: 2%;
    width: 50%;
    height: 50%
}

#texto-representacion {
    color: black;
    text-align: start;
    width: 50%;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

section:nth-child(3) {
    background-color: aqua;
    display: inline-block;
    width: 100%;
    text-align: center;
}

section:nth-child(3) article {
    display: inline-block;
    margin-right: 21vw;
    height: 20vh;
    text-align: left;
    margin-top: 1vh;
}

section:nth-child(3) button {
    display: inline-block;
    padding: 20% 10% 20% 10%;
    width: 150%;
    margin-top: 20%;
    border-radius: 30px;
    background-color: #ffeb3b;
    border: 1px solid black;
 


}

section:nth-child(3) article:nth-child(2) {
    float: right;
}

section:nth-child(3) h2,h3 {
    display: block;
    background-color: red;
    width: 15vw;
    margin-left: 30vw;

}




